# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://postgres:fd65*2g4-4cDe4CCgF2d4G-*GC3fdBAG@roundhouse.proxy.rlwy.net:46791/railway"