# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="8RUUQEn2jFVkTZp8XYsE1GSv81RbVH8FfzXDI2s3Ddo="
DATABASE_URL="postgresql://net_admin:net_password@localhost:5433/net_hr?schema=public"

#KEYCLOAK
NEXTAUTH_KEYCLOAK_CLIENT_ID="hr"
NEXTAUTH_KEYCLOAK_CLIENT_SECRET="PmsdRdXjZ0H6Jfef7eGtY39zeU9qjVeu"
NEXTAUTH_KEYCLOAK_ISSUER="http://localhost:8080/realms/neterp"

MINIO_ENDPOINT="http://localhost"
MINIO_PORT="9000"
MINIO_ACCESS_KEY="KZdOCWJjWfe37SShvgd7"
MINIO_SECRET_KEY="CQ6AqJ6YQRMxs5zM9tOjobB2C0I2n7AreDSawX5o"
ATTACHMENT_BUCKET="leave-attachments"
